[
  { kernel,
    [
      { inet_default_connect_options, [{nodelay, true}]},
      { inet_default_listen_options,  [{nodelay, true}]}
    ]},
  { rabbit,
    [
      { loopback_users, [] },
      { vm_memory_high_watermark, 1 },
      { consumer_timeout, 6040800000 },
      { tcp_listen_options, [
                              { backlog, 102400 },
                              { nodelay, true },
                              {linger,        {true,0}},
                              { exit_on_close, false },
                              { keepalive, true },
                              {sndbuf,        32768},
                              {recbuf,        32768}
                           ]
      }
    ]
  }
].
