[
  { rabbit,
    [
      { loopback_users, [] },
      { heartbeat, 300 },
      { vm_memory_high_watermark, 100 },
      { tcp_listen_options, [ binary,
                              { packet, raw },
                              { reuseaddr, true },
                              { backlog, 4096 },
                              { nodelay, true },
                              { exit_on_close, false },
                              { keepalive, true }
                           ]
      }
    ]
  }
].
